body{
    font-family: 'Poppins',sans-serif;
        margin: 0;
        overflow: scroll;
}
em{
color: red;
}
.home p{
    font-family: 'Poppins',sans-serif;
}
.nav-item:hover{
    background-color: white;
}
/* .image{
    height: 50vh;
    width: 50vw;
} */
.col-md-4 img{
    max-width: 100%;
}
.veg,.meat,.chicken{
display: none;
}